<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

</head>
<body>


<div class="container">

    <h1>Application Mcommerce </h1>
   
    
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ref</th>
                <th>titre</th>
                <th>description</th>
                <th>prix</th>                
            </tr>
        </thead>
        <tbody  th:each="produit : ${produits}" class="col-md-4 my-1">
            <tr>
                <td> 
                	<a th:href="@{|/details-produit/${produit.id}|}" >
                		<span th:text= "${produit.id}"></span>
                	</a>
                </td>
                <td><span th:text= "${produit.titre}"></span></td>
                <td><span th:text= "${produit.description}"></span></td>
                <td><span th:text= "${produit.prix}"></span></td>               
            </tr>
        </tbody>
    </table>
    

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


<script>
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
</body>
</html>